<ion-view view-title="{{ titlePrefix }} Report">

  <ion-nav-buttons side="primary">
    <button
      class="button"
      ng-disabled="syncing"
      ng-click="sync()">
      <ion-spinner ng-show="syncing"></ion-spinner> Sync
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="close()">
      Close
    </button>
  </ion-nav-buttons>

  <!-- report navigation -->
  <ion-content
    scroll="false"
    class="content-report-nav">
    <div class="row row-no-padding">
      <div class="col">

        <ul>
          <li>
            <button
              class="button button-report-nav"
              ng-class="{ 'active': activeSection === 'incident' }"
              ng-click="goToSection('incident')">
              <i class="icon ion-ios-flag"></i>
              <span>Incident</span>
            </button>
          </li>

          <li>
            <button
              class="button button-report-nav"
              ng-class="{ 'active': activeSection === 'team' }"
              ng-click="goToSection('team')">
              <i class="icon ion-ios-people"></i>
              <span>Team</span>
            </button>
          </li>

          <li>
            <button
              class="button button-report-nav"
              ng-class="{ 'active': activeSection === 'services' }"
              ng-click="goToSection('services')">
              <i class="icon ion-ios-copy"></i>
              <span>Services</span>
            </button>
          </li>

          <li>
            <button
              class="button button-report-nav"
              ng-class="{ 'active': activeSection === 'end' }"
              ng-click="goToSection('end')">
              <i class="icon ion-ios-checkmark"></i>
              <span>Finish</span>
            </button>
          </li>
        </ul>

      </div>
    </div>
  </ion-content>

  <!-- report -->
  <ion-content
    scroll="true"
    class="content-report-body">

    <div class="report-body-wrapper">
      <form
        novalidate
        name="reportForm"
        ng-submit="submit(reportForm)">

        <div class="row row-no-padding">
          <div class="col">

            <section class="report-section">

              <!-- incident -->
              <fieldset id="incident" class="fieldset">

                <!-- unit number -->
                <div class="row row-report-form">
                  <div class="col col-20">
                    <label for="incident-unit-number" class="input-label required">
                      Unit Number
                    </label>

                    <input
                      id="incident-unit-number"
                      name="incident-unit-number"
                      type="text"
                      size="10"
                      class="input"
                      required
                      ng-model="reportModel.incidentUnitNumber" />
                  </div>
                </div>

                <!-- start -->
                <div class="row row-report-form">
                  <div class="col col-33">
                    <label for="incident-start" class="input-label required">
                      Dispatch
                    </label>

                    <input
                      id="incident-start"
                      name="incident-start"
                      type="datetime-local"
                      class="input input-select"
                      placeholder="mm/dd/yyyy"
                      required
                      ng-model="reportModel.incidentStart" />
                  </div>
                </div>

                <!-- in route, on scene -->
                <div class="row row-report-form">
                  <div class="col col-33">
                    <label for="incident-inroute" class="input-label required">
                      In Route
                    </label>

                    <input
                      id="incident-inroute"
                      name="incident-inroute"
                      class="input input-select"
                      type="datetime-local"
                      required
                      ng-model="reportModel.incidentInroute" />
                  </div>

                  <!-- on the scene -->
                  <div class="col col-33">
                    <label for="incident-onscene" class="input-label required">
                      On the Scene
                    </label>

                    <input
                      id="incident-onscene"
                      name="incident-onscene"
                      class="input input-select"
                      type="datetime-local"
                      required
                      ng-model="reportModel.incidentOnscene" />
                  </div>
                </div>

                <!-- address -->
                <div class="row row-report-form">
                  <div class="col">
                    <label class="input-label input-label-light-parent">
                      Location of incident
                    </label>

                    <!-- address -->
                    <div class="row row-report-form row-report-form-group">
                      <div class="col col-50">
                        <label for="incident-address" class="input-label input-label-light required">
                          Address
                        </label>

                        <input
                          id="incident-address"
                          name="incident-address"
                          class="input"
                          type="text"
                          required
                          ng-model="reportModel.incidentAddress" />
                      </div>
                    </div>

                    <!-- city, state, zipcode -->
                    <div class="row row-report-form row-report-form-group">

                      <!-- city -->
                      <div class="col col-33">
                        <label for="incident-city" class="input-label input-label-light required">
                          City
                        </label>

                        <input
                          id="incident-city"
                          name="incident-city"
                          class="input"
                          type="text"
                          required
                          ng-model="reportModel.incidentCity" />
                      </div>

                      <!-- state -->
                      <div class="col col-20">
                        <label for="incident-state" class="input-label input-label-light required">
                          State
                        </label>

                        <select
                          id="incident-state"
                          name="incident-state"
                          class="input input-select"
                          required
                          ng-model="reportModel.incidentState"
                          ng-options="option.abbr for option in states track by option.abbr">
                        </select>
                      </div>

                      <!-- zipcode -->
                      <div class="col col-20">
                        <label for="incident-zipcode" class="input-label input-label-light">
                          Zip
                        </label>

                        <input
                          id="incident-zipcode"
                          name="incident-zipcode"
                          class="input"
                          type="number"
                          ng-model="reportModel.incidentZipcode" />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- type of call -->
                <div class="row row-report-form">
                  <div class="col">
                    <label class="input-label required">
                      Type of call
                    </label>

                    <div class="row row-report-form row-report-form-group">
                      <div class="col col-50">
                        <ion-checkbox ng-model="reportModel.incidentTypeFire">Fire/ Alarm/ Companies</ion-checkbox>
                      </div>

                      <div class="col col-50">
                        <ion-checkbox ng-model="reportModel.incidentTypeFlood">Flood</ion-checkbox>
                      </div>
                    </div>

                    <div class="row row-report-form row-report-form-group">
                      <div class="col col-50">
                        <ion-checkbox ng-model="reportModel.incidentTypeHazmat">Hazmat</ion-checkbox>
                      </div>

                      <div class="col col-50">
                        <ion-checkbox ng-model="reportModel.incidentTypeSpecial">Special Event</ion-checkbox>
                      </div>
                    </div>

                    <div class="row row-report-form row-report-form-group">
                      <div class="col col-50">
                        <ion-checkbox ng-model="reportModel.incidentTypeMaintenence">Maintenence</ion-checkbox>
                      </div>

                      <div class="col col-50">
                        <ion-checkbox ng-model="reportModel.incidentTypeOther">Other</ion-checkbox>
                      </div>
                    </div>
                  </div>
                </div>

              </fieldset>

              <!-- team members -->
              <fieldset id="team" class="fieldset">

                <!-- salvation army team, driver -->
                <div class="row row-report-form">
                  <div class="col">
                    <label class="input-label input-label-light-parent">
                      Salvation Army team
                    </label>

                    <!-- driver -->
                    <div class="row row-report-form row-report-form-group">
                      <div class="col col-50">
                        <label class="input-label input-label-light required">
                          Driver
                        </label>

                        <input
                          id="team-member-driver"
                          name="team-member-driver"
                          type="text"
                          class="input"
                          required
                          ng-model="reportModel.teamMemberDriver" />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- team member repeat -->
                <div class="row row-report-form" ng-repeat="teamMember in reportModel.teamMembers track by $index">
                  <div class="col col-40">
                    <label class="input-label input-label-light">
                      Team member
                    </label>

                    <input
                      id="team-member"
                      name="team-member"
                      type="text"
                      class="input"
                      ng-model="reportModel.teamMembers[$index]" />
                  </div>
                </div>

                <!-- add team member button -->
                <div class="row row-report-form row-report-form-button">
                  <div class="col">
                    <button
                      class="button button-small button-assertive"
                      type="button"
                      ng-click="addTeamMember()">
                      Add Team Member
                    </button>
                  </div>
                </div>

                <!-- red cross referral -->
                <div class="row row-report-form">
                  <div class="col">
                    <label class="input-label input-label-light-parent">
                      Red Cross Referral
                    </label>

                    <!-- name -->
                    <div class="row row-report-form row-report-form-group">
                      <div class="col col-40">
                        <label for="team-refferal-name" class="input-label input-label-light">
                          Name
                        </label>

                        <input
                          id="team-refferal-name"
                          name="team-refferal-name"
                          class="input"
                          type="text"
                          ng-model="reportModel.teamRefferalName" />
                      </div>
                    </div>

                    <!-- phone number -->
                    <div class="row row-report-form row-report-form-group">
                      <div class="col col-40">
                        <label for="team-refferal-phone" class="input-label input-label-light">
                          Phone Number
                        </label>

                        <input
                          id="team-refferal-phone"
                          name="team-refferal-phone"
                          class="input"
                          type="tel"
                          ng-model="reportModel.teamRefferalPhone" />
                      </div>
                    </div>
                  </div>
                </div>

              </fieldset>

              <!-- services -->
              <fieldset id="services" class="fieldset">

                <!-- counseling, repeat -->
                <div class="row row-report-form" ng-repeat="counsel in reportModel.servicesCounseling track by $index">
                  <div class="col">
                    <label class="input-label input-label-light-parent">
                      Counseling/ Prayer
                    </label>

                    <!-- administer -->
                    <div class="row row-report-form row-report-form-group">
                      <div class="col col-50">
                        <label for="services-counseling-administer" class="input-label input-label-light">
                          Administer
                        </label>

                        <input
                          id="services-counseling-administer"
                          name="services-counseling-administer"
                          class="input"
                          type="text"
                          ng-model="reportModel.servicesCounseling[$index].administrator" />
                      </div>
                    </div>

                    <!-- individual -->
                    <div class="row row-report-form row-report-form-group">
                      <div class="col col-50">
                        <label for="services-counseling-individual" class="input-label input-label-light">
                          Individual
                        </label>

                        <input
                          id="services-counseling-individual"
                          name="services-counseling-individual"
                          class="input"
                          type="text"
                          ng-model="reportModel.servicesCounseling[$index].individual" />
                      </div>
                    </div>

                    <!-- reason -->
                    <div class="row row-report-form row-report-form-group">
                      <div class="col col-50">
                        <label for="services-counseling-reason" class="input-label input-label-light">
                          Reason
                        </label>

                        <input
                          id="services-counseling-reason"
                          name="services-counseling-reason"
                          class="input"
                          type="text"
                          ng-model="reportModel.servicesCounseling[$index].reason" />
                      </div>
                    </div>

                    <!-- phone -->
                    <div class="row row-report-form row-report-form-group">
                      <div class="col col-50">
                        <label for="services-counseling-phone-number" class="input-label input-label-light">
                          Phone Number
                        </label>

                        <input
                          id="services-counseling-phone-number"
                          name="services-counseling-phone-number"
                          class="input"
                          type="tel"
                          ng-model="reportModel.servicesCounseling[$index].phoneNumber" />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- add team member button -->
                <div class="row row-report-form row-report-form-button">
                  <div class="col">
                    <button
                      class="button button-small button-assertive"
                      type="button"
                      ng-click="addCounseling()">
                      Add Another
                    </button>
                  </div>
                </div>

                <!-- notes -->
                <div class="row row-report-form">
                  <div class="col">
                    <label for="services-notes" class="input-label">
                      Notes
                    </label>

                    <textarea
                      id="services-notes"
                      name="services-notes"
                      class="input input-textarea"
                      rows="8"
                      ng-model="reportModel.servicesNotes">
                    </textarea>
                  </div>
                </div>

              </fieldset>

              <!-- end -->
              <fieldset id="end" class="fieldset">

                <!-- end -->
                <div class="row row-report-form">
                  <div class="col col-33">
                    <label for="end-time" class="input-label required">
                      End
                    </label>

                    <input
                      id="end-time"
                      name="end-time"
                      type="datetime-local"
                      class="input"
                      placeholder="mm/dd/yyyy"
                      required
                      ng-model="reportModel.endTime" />
                  </div>
                </div>

                <!-- mileage -->
                <div class="row row-report-form">
                  <div class="col col-20">
                    <label for="end-total-mileage" class="input-label required">
                      Total Mileage
                    </label>

                    <input
                      id="end-total-mileage"
                      name="end-total-mileage"
                      type="number"
                      size="5"
                      class="input"
                      required
                      ng-model="reportModel.endTotalMileage" />
                  </div>
                </div>

                <!-- fuel level -->
                <div class="row row-report-form">
                  <div class="col">
                    <label for="end-fuel-level" class="input-label required">
                      Fuel Level
                    </label>

                    <div class="item range">
                      <i class="icon ion-sad-outline"></i>

                      <input
                        id="end-fuel-level"
                        name="end-fuel-level"
                        type="range"
                        min="0"
                        max="100"
                        required
                        ng-model="reportModel.endFuellevel" />

                      <i class="icon ion-happy-outline"></i>
                    </div>
                  </div>
                </div>

                <!-- water level -->
                <div class="row row-report-form">
                  <div class="col">
                    <label for="end-water-level" class="input-label required">
                      Water Tank Level
                    </label>

                    <div class="item range">
                      <i class="icon ion-sad-outline"></i>

                      <input
                        id="end-water-level"
                        name="end-water-level"
                        type="range"
                        min="0"
                        max="100"
                        required
                        ng-model="reportModel.endWaterlevel" />

                      <i class="icon ion-happy-outline"></i>
                    </div>
                  </div>
                </div>

                <!-- notes -->
                <div class="row row-report-form">
                  <div class="col">
                    <label for="services-notes" class="input-label">
                      Notes
                    </label>

                    <textarea
                      id="services-notes"
                      name="services-notes"
                      class="input input-textarea"
                      rows="8"
                      ng-model="reportModel.servicesNotes">
                    </textarea>
                  </div>
                </div>

              </fieldset>

            </section>

            <footer class="report-footer">
              <div class="row row-report-form">
                <div class="col">

                  <p class="form-message">
                    <strong>Ready to submit?</strong> Please check all fields before submitting.
                  </p>

                  <button
                    class="button button-assertive"
                    type="submit">
                    Submit Final Report
                  </button>

                  <button
                    class="button button-clear button-light"
                    type="button"
                    ng-click="delete()">
                    Delete Report
                  </button>

                </div>
              </div>
            </footer>

          </div>
        </div>
      </form>
    </div>
  </ion-content>

</ion-view>