.content-report-nav {
    border-right-color: $stable;
    border-right-width: 1px;
    border-right-style: solid;

    padding-top: $report-body-padding;
    width: $report-nav-width-sm;
    z-index: 500;

    @media screen and (min-height : $grid-responsive-md-break) {
        width: $report-nav-width;
    }

    .button-report-nav {
        @include button-style(transparent, transparent, transparent, transparent, $button-default-text);

        padding: 0;
        margin: 0 auto;
        line-height: 28px;
        text-align: center;
        display: block;

        .icon {
            padding: 0;
            margin: 0 auto;
            display: block;

            &:before {
                font-size: 32px;
            }
        }

        span {
            display: none;

            @media screen and (min-height : $grid-responsive-md-break) {
                display: inline;
            }
        }

        &:active,
        &:focus,
        &.activated,
        &.active {
            color: $assertive;

            .icon {
                color: $assertive;
            }
        }
    }

    ul {
        li {
            margin-bottom: 25px;
        }
    }
}